html {
  box-sizing: border-box;
  font-size: 16px;
}

html::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 95%;
  margin: auto;
}

h2,
h4,
p {
  margin: 0;
}

.card {
  width: 100%;
  height: auto;
  box-shadow: 2px 5px 7px 0px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  overflow: hidden;
}

.top-section {
  width: 100%;
  padding: 25px;
}

.top-section h2 {
  font-size: 1.6rem;
  margin-bottom: 25px;
  color: #2ab2af;
}

.top-section h4 {
  margin-bottom: 25px;
  color: #c8df34;
}

.top-section p {
  margin-bottom: 15px;
  color: #;
}
.bottom-section {
  width: 100%;
  background-color: #2ebfbd;
  color: #fff;
}

.bottom-left-section {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #2ab2af;
  vertical-align: top;
  padding: 30px 25px;
}

.bottom-left-section h4 {
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.price-container {
  margin-bottom: 20px;
}
.price {
  display: inline-block;
  font-size: 2.5rem;
}

.monthly-price {
  display: inline-block;
  font-size: 0.9rem;
  margin-left: 10px;
  position: relative;
  top: -10px;
}

.bottom-left-section p {
  margin-bottom: 30px;
}

button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #c8df34;
  padding: 10px;
  width: 90%;
  margin-bottom: 46px;
  font-size: 1rem;
}

.bottom-right-section {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #2ebfbd;
  vertical-align: top;
  padding: 30px;
}

.bottom-right-section h4 {
  font-size: 1.3rem;
}

.bottom-left-section p {
  font-size: 1rem;
  margin-bottom: 25px;
}

ul {
  padding: 0;
  list-style: none;
  line-height: 25px;
}

@media only screen and (min-width: 650px) {
  body {
    max-width: 90%;
  }
  .bottom-left-section,
  .bottom-right-section {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
  }
}

@media only screen and (min-width: 992px) {
  body {
    max-width: 75%;
    margin: auto;
  }
}
